  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015 - 2017</span>
                </div>
                <div class="col-md-4">
                    <span class="copyright">
                    Licensed, Bonded and Insured.
                </span>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </footer>