<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src ="{{ '/img/logos/rhino.png' | prepend: site.baseurl }}">
                    <span class="brand-text"> | Construction</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navcollapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden"><a href="#page-top"></a></li>
                  <li><a class="page-scroll" href="#services">Services</a></li>
                  <li><a class="page-scroll" href="#about">About</a></li>
                  <li><a class="page-scroll" href="#portfolio">Clients</a></li>
                  <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Banner -->
    <header>
        <div class="container">
            <div class="intro-text">
                 <div class="intro-heading">
                    <img class="img-responsive img-center" src ="{{ '/img/logos/rhinoconst.png' | prepend: site.baseurl }}">
                 </div>
                 <div class="intro-lead-in">Quality Residential Services</div>
                 <p>Licensed, Bonded and Insured. License Number RHINOCL836C3</p>
                 <a href="#services" class="page-scroll btn btn-xl">
                 Learn More</a>
            </div>
        </div>
    </header>